.todoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todoList_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 900px;
}
